Package: image-configurator
Version: 1.0.2
Maintainer: D3VL LTD <jack@d3vl.com>
Description: Change the splash screen and screensaver images with splashscreen.png, screensaver01.png and screensaver02.png in the root of the SD card.
Architecture: pigeon-glasses
Homepage: https://github.com/d3vl/wtfos-image-configurator
Depends: dinit, image-changer, ffmpeg
